<%- include('partials/header'); %>

    <div class="col heya" >
       
    </div>
    <div class="col1 "  >
        
        <div class="ui main text " >
        <div class="ui huge header" style="margin-top: 100px;">Want to answer?</div>
        <div class="ui top attached segment" style="background-color: #24244e;border: 1px solid #24244e;">
            <div class="ui items">
                <% blogs.forEach(function(blog){ if(blog.title!=null ) {
                    %>
                    <div class="item sam">
                        
                        <div class="content" style="color: white;">
                            <div class="meta" style="margin: 10px;">
                                <span><span style="font-size:small;color: rgb(252, 255, 102);"><%= blog.name %></span><span style="color: white;font-size: small;">- <%= blog.created.toDateString() %></span></span>
                            </div>
                            <a class="header" href="/blogs/<%= blog._id %>" style="color: rgb(16, 188, 240);margin-top: 5px;margin-bottom: 10px;"><%= blog.title %></a>
                            
                            
                            <div class="extra">
                                <a class="ui  basic mini violet button" href="/blogs/<%=blog._id %>">
                                    Ans This?
                                    
                                </a>
                            </div>
                        </div> 
                    </div>
                <% }}) %>
            </div>
        </div>
    </div>
    </div>



<%- include('partials/footer');%>