<%- include('partials/header'); %>

    <div class="col heya">
        <div class="hey1" >
        <div class="top">
            <h1 style="text-align: center;"><u>CONTENTS</u></h1>
        </div>
        <div class="topics">
            <div class="points">
                <ul style="list-style-type:none;">
                    <li><a>Questions asked</a></li>
                    <li><a href="/content/ans">Answers</a></li>
                    
                   
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="col hi" >
        
        <div class="ui main text " >
        <div class="ui huge header heya" >Questions Asked</div>
        <div class="ui top attached segment" style="background-color: #24244e;border: 1px solid #24244e;">
            <div class="ui items">
                <% blogs.forEach(function(blog){ if(blog.title!=null  ){
                    %>
                    <div class="item sam">
                        
                        <div class="content" style="color: white;">
                            <div class="meta" style="margin: 10px;">
                                <span><span style="font-size:small;color: rgb(252, 255, 102);"><%= currUser.username %></span><span style="color: white;font-size: small;">- <%= blog.created.toDateString() %></span></span>
                            </div>
                            <a class="header" href="/blogs/<%= blog._id %>" style="color: rgb(16, 188, 240);margin-top: 5px;margin-bottom: 10px;"><%= blog.title %></a>
                            
                            
                            <div class="extra">
                                <a class="ui  basic mini yellow button" href="/ %>">
                                    BACK
                                    <i class="left small chevron icon"></i>
                                </a>
                            </div>
                        </div> 
                    </div>
                <% }}) %>
            </div>
        </div>
    </div>
    </div>



<%- include('partials/footer');%>